
/* Style container-list */
.container-list
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border: 2px solid black;
    margin: 20px;
    padding: 10px;
}

/* Style cards */
.container-card
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border: 1px solid black;
    /* background: red; */
    margin: 10px;
    width: 250px;
    height: 250px;
    z-index: 1;

    container: inline-size;
    container-name: backStyle;

}
.symbole
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 2;
}

.temps
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    object-fit: cover;
}

/* Style intérieur cartes */

/* Style container */
@container style(--pNuageux:true) 
{
    .weather-card
    {
        background-color: orange;
    }
    
    .container-card::after 
    {
      content: url(<data-uri-for-demo-brevity>);
      background: blue;
    }
}

